streamlit
openpyxl
xlsxwriter
rich
mdurl
pymongo==4.11.3
scikit-learn==1.3.2
seaborn==0.12.2
pandas==2.1.4
numpy==1.26.4
plotly
pyarrow
autogluon==1.1.1
psutil
matplotlib
scipy==1.11.0
joblib
pathlib
seqeval
imbalanced-learn==0.12.4
incremental
shap
catboost
streamlit_cookies_manager
python-magic
skopt
llvmlite==0.39.0
scikit-optimize==0.9.0








