streamlit
openpyxl
xlsxwriter
rich
mdurl
pymongo==4.11.3
scikit-learn==1.5.2
seaborn
pandas
numpy==1.26.4
plotly
pyarrow
autogluon
psutil
matplotlib
scipy==1.11.0
joblib
pathlib
seqeval
imbalanced-learn==0.12.4
incremental
shap
catboost
streamlit_cookies_manager
python-magic
llvmlite==0.39.0





